<h2>Recently Added</h2>

<div>
    <!-- loop through all books and display book cover -->
    <% books.forEach( book=> { %>
        <img height='150' width="100" src="<%= book.coverImagePath%>" alt="">
        <% }) %>
</div>