<!-- files with _ are partials -->

<label>Name</label>
<!-- name parameter indicates what the server will realise this input as ... res.body.name -->
<input type="text" name="name" value="<%= author.name%>">
<!-- <&=author.name%> tells the server to show whatever existing value is of author.name is and show as html when editing   -->